page-start {

  .start-background-1 {
    background: url("../assets/img/level1.png") fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .start-background-2 {
    background: url("../assets/img/level2.png") fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .start-background-3 {
    background: url("../assets/img/level3.png") fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .start-background-4 {
    background: url("../assets/img/level4.png") fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .start-background-5 {
    background: url("../assets/img/level5.png") fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

}
