page-rezepte {

  .card-background-page {
    .card-title {
      //#00B88A
      //#F07D7D
      //#F0B9B9
      //#D1D1D1
      background-color: #3FAAD3;
      top: 36%;
      font-size: 1.5em;
      width: 100%;
      color: white;
      //font-weight: bold;
    }
  }

}
